body {
    background-color: black;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 50px 15px;
    position: relative;
    text-align: center;
}

#welcome {
    height: 100vh;
    width: 100vw;
    background-color: lavender;
    color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

#login table {
    margin: auto;

    & tr:not(:last-child) {
        & td:first-child {
            text-align: right;
        }
    }
}
