body {
    background-color: black;
    color: white;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 50px 15px;
    text-align: center;
}

#login {
    margin: auto;

    & tr:not(:last-child) {
        & td:first-child {
            text-align: right;
        }
    }
}
