#coords-table {
    width: 200px;
    margin: auto;

    & tr {
        & td {
            font-family: "Courier New", Courier, monospace;
            text-align: right;

            &:last-child {
                width: 100%;
            }
        }
    }

    & button,
    & input {
        width: 100%;
        box-sizing: border-box;
    }
}

#subscribe,
#unsubscribe {
    color: #b8b8e2;
    font-weight: bold;
}

#unsubscribe p {
    margin-top: 30px;
}
