body,
button,
input {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

body {
    background-color: #111;
    color: #eee;
    line-height: 1.5;
    margin: 0;
    padding: 50px 15px;
    position: relative;
    text-align: center;
}

a {
    color: #b8b8e2;

    &:hover {
        color: blueviolet;
    }
}

button {
    appearance: none;
    background-color: #b8b8e2;
    border: 0;
    color: #111;
    padding: 5px 10px;

    &:hover {
        background-color: blueviolet;
        color: #eee;
        cursor: pointer;
    }
}

dialog {
    background-color: lavender;
    border-color: #b8b8e2;

    & #share-icon {
        height: 18px;
        width: auto;
        opacity: 0.7;
        padding: 0 3px;
    }
}

#email-display {
    font-style: italic;
}

hr {
    height: 1.5px;
    background-color: #b8b8e2;
    border: 0;
}

#links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#login table {
    margin: auto;

    & tr:not(:last-child) {
        & td:first-child {
            text-align: right;
        }
    }
}

main {
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 5px 10px;
}

nav {
    background-color: lavender;
    color: #111;
    padding: 5px 10px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    & #nav-container {
        max-width: 600px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: auto;

        & button {
            background-color: transparent;
            color: blueviolet;
            padding: 0;
            text-decoration: underline;

            &:hover {
                background-color: transparent;
                color: #111;
            }
        }
    }
}

#splash-screen {
    height: 100vh;
    width: 100vw;
    background-color: #b8b8e2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
