#prev-next-btns {
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 5px;
}

#sutta {
    max-width: 650px;
    width: fit-content;
    margin: auto;

    & table td {
        vertical-align: top;

        &:first-child {
            color: #555;
            font-size: 0.8rem;
            padding-right: 10px;
            text-align: right;
        }

        &:last-child {
            text-align: left;
        }
    }
}

#title {
    margin: 20px auto;

    & > * {
        margin: 0 auto;
    }
}
