<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="./style.css">
        <script src="firebase.js" defer></script>
        <script src="notifications.js" defer></script>
    </head>
    <body>
        <h1>Profile</h1>
        <!-- important for subscription (pulls textContent): -->
        <h2 id="email-display">#{email}</h2>
        <button id="logout-btn">logout</button>
        <hr/>
        <div id="subscribe" style="display: none">
            <input id="lat" value="0" type="number" min="-180" max="180" />
            <input id="lng" value="0" type="number" min="-180" max="180" />        
            <button id="notify-btn">GET NOTIFICATIONS</button>
        </div>
        <div id="unsubscribe" style="display: none">
            <span></span>
            <button id="unsub-btn">UNSUBSCRIBE</button>
        </div>
        <button id="push-to-all">PUSH TO ALL</button>
        <hr/>
        <img src="./assets/podbean8.jpg" alt="upsidedown palm tree" style="height: 300px; width: auto;">
    </body>
</html>