<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Unverified Email</title>
        <link rel="stylesheet" href="./style.css">
        <script src="firebase.js" defer></script>
    </head>
    <body>
        <h1>Unverified Email</h1>
        <h2>#{email}</h2>
        <p>This email address is not yet verified.
        <br/>Please check your inbox, and possibly your spam folder.
        </p>
        <div>
            <button id="resend-verify-btn">resend verification email</button>
            <button id="logout-btn">logout</button>
        </div>
    </body>
</html>