body {
    background-color: #111;
    color: #eee;
    margin: 50px 15px;
    text-align: center;
}

#title {
    margin: 20px auto;

    & > * {
        margin: 0 auto;
    }
}

#sutta {
    max-width: 650px;
    width: fit-content;
    margin: auto;

    & table td {
        vertical-align: top;

        &:first-child {
            color: #555;
            font-size: 0.8rem;
            padding-right: 10px;
            text-align: right;
        }

        &:last-child {
            text-align: left;
        }
    }
}
