<nav>
    <div id="nav-container">
        <!-- important for subscription (pulls textContent): -->
        <span id="email-display">#{email}</span>
        <button id="logout-btn">logout</button>
    </div>
</nav>
