<!DOCTYPE html>
<html lang="en">
    <head>
        include ./metatags
        <script src="./firebase.js" defer></script>
    </head>
    <body>
        include ./nav
        <main>
            <h1>Learn Pali</h1>
            <div id="links">
                <a href="./moon">Moon Reminders</a>
                <span>|</span>
                <a href="./sutta">Suttas</a>
                <span>|</span>
                <a href="./resources">Resources</a>
                <span>|</span>
                <a href="./podcasts">Podcasts</a>
            </div>
            <br/>
            <hr/>
            <br/>
            <div id="offline" style="display: none">
                <p><em>You are currently offline.</em></p>
                <button onclick="window.location.reload()">refresh page</button>
            </div>
        </main>
    </body>
</html>