<!DOCTYPE html>
<html lang="en">
    <head>
        include ./metatags
        <script src="./firebase.js" defer></script>
    </head>
    <body>
        include ./nav
        <main>
            <h1>Buddhist Podcasts</h1>
            <div id="links">
                <a href="./">Uposatha</a>
                <span>|</span>
                <a href="./sutta">Suttas</a>
                <span>|</span>
                <a href="./resources">Resources</a>
                <span>|</span>
                <a href="./pali">Learn Pali</a>
            </div>
            <br/>
            <hr/>
            <br/>
        </main>
    </body>
</html>