<!DOCTYPE html>
<html lang="en">
    <head>
        include ./metatags
    </head>
    <body>
        <h1>Welcome to Uposatha!</h1>
        <p>[[ APP DESCRIPTION ]]</p>
        <br/>
        <hr/>
        <br/>
        <p>
            This web app is fully functional only when installed on your device.
        </p>
        <button id="install-app">install</button>
        <p>
            Are you in the installed app, but you're still seeing this message? Please click this button: 
        </p>
        <button onclick="window.location.reload()">refresh page</button>
    </body>
</html>